/*.mainmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;  
  height: 100vh;
  z-index: 1000;
} */

/* サイドバー本体（初期状態は左端の外に隠す） */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  padding-top: 5px;
  margin-top: 1px;
  margin-bottom: 100px;
  background-image: url("../photo/hora-3.jpg");
  background-repeat: no-repeat;
  box-shadow: 8px 0 24px rgba(0,0,0,.12);
  transform: translateX(-100%);  /* 左方向に隠す */
  transition: transform .28s ease;
  z-index: 1001;
  overflow-y: auto;
  font-family: serif;
  font-size: 28px;
  text-align: center;
  color: white;
}

.news{
  padding-top: 5px;
  margin-top: 1px;
  color: brown;
  text-decoration: underline;
}

.English{
  margin-bottom: 2px;
  margin-top: 50px;
  font-size: 18px;
  color: white;
}

/* チェックボックスは非表示 */
#menu-toggle {
  display: none;
}

/* チェックが入ったらサイドバー表示 */
#menu-toggle:checked ~ .menu {
  transform: translateX(0);
}

/* ハンバーガーボタン */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 1100;
}
.hamburger span {
  display: block;
  height: 3px;
  margin: 5px 0;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* 開いたときの×アニメーション */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* コンテンツ部分 */
.content {
  margin-left: 20px;
  padding: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;    
  text-decoration: none; /* 下線を消す */
}
.instagram{
  font-size: 15px;
  color:white;
  text-decoration: underline;
  padding-top: 100px;
}

h3{
    color:white;
    font-size: 40px;
    font-family: serif;
}

.title{
    color:white;
    font-size: 45px;
}