body {
    background-color: #eee;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    width: auto;
}

.home {
    text-align:center;
    margin-top:0px;
    margin-left:0px;
    font-family: serif;
    text-decoration: none;
}

.EN{
    vertical-align: middle;
    font-size: 40px;
    font-family: Apple Chancery;
}

.theme{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0 20px;  
    width: 100%;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    border-bottom: 2px solid #333;    /* 下線の代わりにボーダー */
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main1{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: white;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main1_0{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 10px;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

img{
    width: 500px;
    padding-right: 0px;
    margin-bottom: 100px;
}

.saishin:visited {
  color: black;
  text-decoration: none;
}

.saishin:hover {
  color: white;    
  text-decoration: none; /* 下線を消す */
}

.empty{
    margin: 5.0em 0; 
}

@keyframes maru {
  0%, 100% {
    text-shadow: 
      0 0 5px white,
      0 0 10px red,
      0 0 20px red;
  }
  50% {
    text-shadow: 
      0 0 10px white,
      0 0 20px red,
      0 0 40px red;
  }
}

.maru {
  color: brown;
  animation: maru 1.5s ease-in-out infinite;
}