body {
    background-color: black;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
}

.name{
    font-size: 17px;
    margin-left: 100px;
}

.home {
    text-align:center;
    margin-left:0px;
    margin-left:10px;
    font-family: serif;
    left: 0;
}

.theme{
    inset: 0 auto auto 0; /* top:0; left:0; と同等 */
    width: 100%;
    margin-top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
    padding-right: 7px;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    background-color: black;
    /*background: linear-gradient(to bottom, #541c2a, black);*/
    background: linear-gradient(to right, black, #541c2a, black);
    color: white;
}

.main0{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: white;
    padding-top: 10px;
    background-color: gray;
    background: linear-gradient(to right, black, gray, black);
    background-position: center;
    height: 230px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}

.main1{
    margin-top: 100px;
    padding-bottom: 100px;
    font-size: 35px;
    line-height: 37px;
    padding-top: 10px;
    background-position: center;
    color: brown;
    position: relative;
    padding-top: 5px;
}

.main2{
    padding-bottom: 400px;
    font-size: 20px;
    line-height: 37px;
    color: white;
    padding-top: 10px;
    background-position: center;
}

.mae{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.EM{
    vertical-align: middle;
    font-size: 30px;
}

.main1::before{
    content:"";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scaleX(0); /* 中央から縮小状態 */
    transform-origin: center;             /* 中央基点で拡大 */
    width: 280px;
    height: 50px;
    background-color: brown;
    z-index: -1; /* テキストの下に配置 */
    transition: transform 0.4s ease;
}

.main1:hover::before{
    color: brown;
    transform: translateX(-50%) scaleX(1); /* 横に広がる */
}

.main1:visited {
    color: white;
    text-decoration: none;
}

.main1:hover {
    color: white;    
    text-decoration: none; /* 下線を消す */
}

.empty{
    margin: 11.5em 0; 
}