body {
    background-color: white;
    background-image: url("../photo/hora-3.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
    width: auto;
}

.catchcopy{
    font-size: 30px;
    font-weight: bold;
}

.name{
    font-size: 17px;
    margin-left: 100px;
}

.home {
    inset: 0 auto auto 0; /* top:0; left:0; と同等 */
    text-align:center;
    margin-left:0px;
    font-family: serif;
    text-decoration: none;
}

img{
    width: 500px;
    padding-right: 0px;
    margin-bottom: -90px;
}

/*.theme{
    inset: 0 auto auto 0; /* top:0; left:0; と同等
    width: 100%;
    margin-top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
    padding-right: 7px;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    background-color: black;
    /*background: linear-gradient(to bottom, #541c2a, black);
    background: linear-gradient(to right, black, #541c2a, black);
    color: white;
}*/

.main0{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: black;
    padding-top: 10px;
    background-size: 100% 100%;
    background-image: url("../photo/texture962350_TP_V4.webp");
    background-position: center;
    height: 230px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}

.main0_0{
    text-align: justify;
    font-weight: bold;
}

.main1{
    /*background: linear-gradient(to right, black, gray, black);*/
    font-size: 35px;
    line-height: 37px;
    height: 50px;           /* 画面いっぱい */
    width: 1000px;  
    background-position: center;
    color: black;
    background: linear-gradient(to right, black, white, black);
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 10px;
}

.main2{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: black;
    padding-top: 10px;
    background-size: 100% 100%;
    background-image: url("../photo/texture962350_TP_V4.webp");
    background-position: center;
    height: 230px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}

.main2_2{
    text-align: justify;
    font-weight: bold;
}

.mae{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.EM{
    vertical-align: middle;
    font-size: 30px;
}

.saishin:visited {
  color: black;
  text-decoration: none;
}

.saishin:hover {
  color: brown;    
  text-decoration: none; /* 下線を消す */
}

.empty{
    margin: 5.0em 0; 
}

@keyframes maru {
  0%, 100% {
    text-shadow: 
      0 0 5px white,
      0 0 10px red,
      0 0 20px red;
  }
  50% {
    text-shadow: 
      0 0 10px white,
      0 0 20px red,
      0 0 40px red;
  }
}

.maru {
  color: brown;
  animation: maru 1.5s ease-in-out infinite;
}