body {
    background-color:#eee;
    background-size:cover;
    /*background-image:url("../photo/hora-3.jpg");*/
    background-attachment:fixed;
    background-repeat:no-repeat;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    width: auto;
}

.home {
    color: white;
    text-align:center;
    margin-top:0px;
    margin-left:0px;
    font-family: serif;
}

.theme{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0 20px;  
    width: 100%;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    border-bottom: 2px solid #333;    /* 下線の代わりにボーダー */
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main1{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: white;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main1_0{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 10px;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main2{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: white;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.main2_0{
    max-width: 900px;      /* 最大幅を指定 */
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 10px;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-bottom: 4px;              /* テキストと線の間隔を調整 */
    color: #333;
}

.EN{
    vertical-align: middle;
    font-size: 40px;
    font-family: Apple Chancery;
}

.rogo{
    background-color: white;
    width: 300px;
}

.main5_5{
    text-align: justify;
}

.main5{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: black;
    padding-top: 10px;
    background-size: 100% 100%;
    background-image: url("../photo/texture962350_TP_V4.webp");
    background-position: center;
    height: 170px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}

.main4_4{
    text-align: justify;
}

.main4{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: black;
    padding-top: 10px;
    background-image: url("../photo/texture962350_TP_V4.webp");
    background-position: center;
    height: 120px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}

.midashi{
    font-weight: bold;
}

.midashi1{
    text-align: center;
}

.main3{
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 37px;
    color: black;
    padding-top: 10px;
    background-size: 100% 100%;
    background-image: url("../photo/texture962350_TP_V4.webp");
    background-position: center;
    height: 80px;           /* 画面いっぱい */
    width: 900px;         /* 文章の幅を決める */
    text-align: justify;  /* 両端揃え */
    margin: 0 auto;
    padding-left: 50;
    padding-right: 50;
    text-align: center;
}


@keyframes maru {
  0%, 100% {
    text-shadow: 
      0 0 5px white,
      0 0 10px white,
      0 0 20px red;
  }
  50% {
    text-shadow: 
      0 0 10px white,
      0 0 20px red,
      0 0 40px red;
  }
}

.maru {
  color: brown;
  animation: maru 1.5s ease-in-out infinite;
}

.mae{
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.empty{
    margin: 5.0em 0; 
}