/*.mainmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;  
  height: 100vh;
  z-index: 1000;
} */

body{
  margin: 0;
}

/* サイドバー本体（初期状態は左端の外に隠す） */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 100px;
  background-image: url("../photo/pngtree-hd-special-paper-texture-material-png-image_4363502.jpg");
  /*background-repeat: no-repeat;*/
  box-shadow: 8px 0 24px rgba(0,0,0,.12);
  transform: translateX(-100%);  /* 左方向に隠す */
  transition: transform .28s ease;
  z-index: 1001;
  overflow-y: auto;
  text-align: center;
  font-family: serif;
  font-size: 28px;
  color: black;
  font-weight: bold;
}

.m{
  padding-top: 5px;
  margin-top: 1px;
  padding-bottom: 5px;
  color: white;
  background-color: #541c2a;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.English{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-top: 50px;
  font-size: 18px;
  color: black;
  font-family: Apple Chancery;
}


/* ▼サイドメニュー */
/* チェックボックスは非表示 */
#menu-toggle {
  display: none;
}

/* チェックが入ったらサイドバー表示 */
#menu-toggle:checked ~ .menu {
  transform: translateX(0);
}

/* ハンバーガーボタン */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 1100;
}
.hamburger span {
  display: block;
  height: 3px;
  margin: 5px 0;
  background: black;
  border-radius: 2px;
  transition: 0.3s;
}

/* 開いたときの×アニメーション */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* コンテンツ部分 */
.content {
  margin-left: 20px;
  padding: 20px;
}

a{
  display: inline-block;
  width: 280px;
  height: 40px;
}

a:link {
  color: black;
  text-decoration: none;
}

.title{
  text-align: center;
  color: black;
  font-size: 45px;
  font-family: Apple Chancery;
}

/* 新着のマークアニメーションに関する */
@keyframes English01 {
  0%, 100% {
    text-shadow: 
      0 0 5px #ff0,
      0 0 10px #ff0,
      0 0 20px #ff0;
  }
  50% {
    text-shadow: 
      0 0 10px white,
      0 0 20px #ff0,
      0 0 40px #ff0;
  }
}

.English01{
  margin-bottom: 2px;
  margin-top: 50px;
  font-size: 18px;
  color: #ff0;
  animation: English01 1.5s ease-in-out infinite;
}

@keyframes English02 {
  0%, 100% {
    text-shadow: 
      0 0 5px white,
      0 0 10px #ff0,
      0 0 20px #ff0;
  }
  50% {
    text-shadow: 
      0 0 10px white,
      0 0 20px #ff0,
      0 0 40px #ff0;
  }
}



.eeen{
  font-size: 28px;
  color: #ff0;
  animation: en 1.5s ease-in-out infinite;
}

.works{
  padding-top: 5px;
  margin-top: 1px;
  padding-bottom: 5px;
  color: black;
}

.works:visited {
  color: black;
  text-decoration: none;
}

.works:hover {
  color: white;
  background-color: brown;    
  text-decoration: none; /* 下線を消す */
}